<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Hugo</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrameerimise kursuse bänner">
	<h1>Uudised</h1>
	<hr>
	<ul>
		<li><a href="/news/add">Uudiste lisamine</a></li>
		<li><a href="/news/read">Uudiste lugemine</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
</body>
</html>