<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Hugo</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrameerimise kursuse bänner">
	<h1>Eesti film</h1>
	<hr>
	<ul>
		<li><a href="/eestifilm">Eesti filmide avaleht</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<h2>Film, id: <%= id %></h2>
	
	<% filmlist.forEach(function(film){ %>
		<li><%= film.title %>, toodetud <%= film.production_year %>, filmi kestvus <%=film.duration %> minutit.</li>
	<% }); %>
	
	<hr>
	<a href="/eestifilm/singlemovie">Leia teine film</a></li>
</body>
</html>